# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM64=y
CONFIG_SOC_FAMILY_BRCM_IPROC=y
CONFIG_SOC_SERIES_STINGRAY=y
CONFIG_SOC_BCM58742=y
CONFIG_BOARD_BRCM_STINGRAY_BCM958742K=y

CONFIG_XIP=n
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_INIT_STACKS=y

CONFIG_SCHED_MULTIQ=y
CONFIG_SCHED_DUMB=n
CONFIG_BOOT_BANNER=y

CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_NS16550=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_NS16550_PORT_0=y
CONFIG_CONSOLE_HANDLER=n

CONFIG_NUM_PREEMPT_PRIORITIES=0
CONFIG_SYSTEM_WORKQUEUE_PRIORITY=-2
CONFIG_HEAP_MEM_POOL_SIZE=16384
CONFIG_THREAD_NAME=y

CONFIG_SHELL=y
