# Kconfig - ARM64 architecture configuration options

#
# SPDX-License-Identifier: Apache-2.0
#
# Copyright 2019 Broadcom
#


menu "ARM64 Options"
	depends on ARM64

source "arch/arm64/core/Kconfig"

config ARCH
	default "arm64"

endmenu
