#
# Copyright 2019 Broadcom
# The term "Broadcom" refers to Broadcom Inc. and/or its subsidiaries.
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_SERIES_STINGRAY

gsource "soc/arm64/brcm_iproc/stingray/Kconfig.defconfig.stingray*"

config SOC_SERIES
	default "stingray"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 125000000

endif # SOC_SERIES_STINGRAY
