#
# Copyright 2019 Broadcom
# The term "Broadcom" refers to Broadcom Inc. and/or its subsidiaries.
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_BCM58742

config SOC
	default "BCM58742"

endif # SOC_BCM58742
