#
# Copyright 2019 Broadcom
# The term "Broadcom" refers to Broadcom Inc. and/or its subsidiaries.
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_FAMILY_BRCM_IPROC
	bool
	# omit prompt to signify a "hidden" option
	default n

if SOC_FAMILY_BRCM_IPROC
config SOC_FAMILY
	string
	default "brcm_iproc"
endif

gsource "soc/arm64/brcm_iproc/*/Kconfig.soc"
