#
# Copyright 2019 Broadcom
# The term "Broadcom" refers to Broadcom Inc. and/or its subsidiaries.
#
# SPDX-License-Identifier: Apache-2.0
#

gsource "soc/arm64/brcm_iproc/*/Kconfig.defconfig.series"
